/* Empty. Add your own CSS if you like */
.pane {
        background: url("../img/ippo.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
